.latestblogs-wrapper {
  border-radius: 2rem;
  margin: 0 0 -3.3125rem;
  padding-bottom: 4.375rem;
  padding-top: 4.0625rem;
  position: relative;
  width: 100%;
}
.latestblogs-wrapper::before {
  background-blend-mode: overlay;
  background-color: #aa1f30;
  background-image: url("clientlib-boing/resources/images/static/bg-image.png");
  background-position: 100% 115%;
  background-repeat: no-repeat;
  border-radius: 2rem;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewY(-8.74deg);
  width: 100%;
  z-index: 1;
}
.latestblogs-wrapper .latestblogs-listing {
  padding-bottom: 1.5625rem;
  position: relative;
  z-index: 1;
}
.latestblogs-wrapper .latestblogs-desc {
  padding-inline: 2rem;
}
.latestblogs-wrapper .latestblogs-listing_section--first {
  padding-inline: 1rem;
  padding-bottom: 2rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second {
  background-position: top;
  background-repeat: no-repeat;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-inline: 1rem;
  display: flex;
}
.latestblogs-wrapper .latestblogs-listing_section--second::-webkit-scrollbar {
  display: none;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cardwrapper {
  text-decoration: none;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cards {
  background-color: #f6bb00;
  border-radius: 1.625rem;
  width: 14rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cards .latestblogs-text__body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cardimage-wrapper {
  height: 14rem;
  width: 14rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cardimage-wrapper .latestblogs-cardimage {
  border-top-left-radius: 1.625rem;
  border-top-right-radius: 1.625rem;
}
.latestblogs-wrapper .latestblogs-listing_section--second .latestblogs-cards_content--wrapper {
  color: #030303;
  padding: 1rem 1rem 1.625rem;
}
.latestblogs-wrapper .latestblogs-btn {
  align-items: center;
  background-color: #f6bb00;
  border-radius: 1.375rem;
  color: #030303;
  display: flex;
  gap: 0.625rem;
  margin-inline: auto;
  padding: 0.75rem 1.375rem;
  text-align: center;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.latestblogs-wrapper .latestblogs-btn .arrow-icon {
  height: 1.5rem; 
  width: 1.5rem;
}
.latestblogs-wrapper .latestblogs-title {
  font-family: Barlow;
  font-weight: 700;
  line-height: normal;
  font-size: 1.5rem;
  color: #fff;
}
.latestblogs-wrapper .latestblogs-text__body-2 {
  font-family: Barlow;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
}
.latestblogs-wrapper .latestblogs-text__title-3 {
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}
.latestblogs-wrapper .latestblogs-text__body-5 {
  font-family: Barlow;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
}
.latestblogs-wrapper .latestblogs-published_date {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem; /* Equivalent to 8px assuming 16px base */
}
.latestblogs-wrapper .latestblogs-cardimage {
  width: 100%;
  height: 100%;
}
.latestblogs-wrapper .pb-3 {
  padding-bottom: 0.5rem; /* Equivalent to 8px assuming 16px base */
}
.latestblogs-wrapper .pb-4 {
  padding-bottom: 0.75rem; /* Equivalent to 12px assuming 16px base */
}
.latestblogs-wrapper .p-0 {
  padding: 0 !important;
}
.latestblogs-wrapper .m-0 {
  margin: 0 !important;
}
.latestblogs-wrapper .mb-3 {
  margin-bottom: 0.5rem !important; /* Equivalent to 8px assuming 16px base */
}
.latestblogs-wrapper .text-center {
  text-align: center !important;
}
.latestblogs-wrapper .text-white {
  color: #fff !important;
}
.latestblogs-wrapper .position-relative {
  position: relative !important;
}
.latestblogs-wrapper .d-flex {
  display: flex !important;
}
