.stickyNavigation-sticky-bottom-nav {
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0.125rem -0.25rem 1rem 0 rgba(0, 0, 0, 0.431);
  height: 4.375rem; /* Equivalent to 70px assuming 16px base */
  padding: 0.625rem 0; /* Equivalent to 10px 0px assuming 16px base */
  z-index: 997;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #aa1f30;
}
.stickyNavigation-sticky-bottom-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.stickyNavigation-sticky-bottom-nav__item {
  flex: 1;
  text-align: center;
  position: relative;
}
.stickyNavigation-sticky-bottom-nav__link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.0625rem; /* Equivalent to 1px assuming 16px base */
  text-decoration: none;
  transition: color 0.3s ease;
}
.stickyNavigation-sticky-bottom-nav__link.active {
  color: #f6bb00;
}
.stickyNavigation-sticky-bottom-nav__link.active::after {
  background-color: #f6bb00;
  border: 0.070625rem; /* Equivalent to 1.13px assuming 16px base */
  bottom: -0.3125rem; /* Equivalent to -5px assuming 16px base */
  content: "";
  display: block;
  height: 0.0625rem; /* Equivalent to 1px assuming 16px base */
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0.625rem; /* Equivalent to 10px assuming 16px base */
}
.stickyNavigation-sticky-bottom-nav__icon {
  display: block;
  height: 1.125rem; /* Equivalent to 18px assuming 16px base */
  width: 1.125rem; /* Equivalent to 18px assuming 16px base */
  transition: filter 0.3s ease;
}
.stickyNavigation-sticky-bottom-nav__label {
  color: #fff;
  display: block;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 400;
  line-height: 0.9rem; /* Equivalent to 14.4px assuming 16px base */
}
.stickyNavigation-pop-up {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}
.stickyNavigation-trans-pop-up {
  background-color: #000;
  display: none;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 33.75rem; /* Equivalent to 540px assuming 16px base */
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}