.header-container {
  background: url("../images/shadowhead.png") center bottom repeat-x scroll #7F7FAA;
  color: #ffffff;
  padding: 0.5em; /* Equivalent to 8px assuming 16px base */
  border-bottom: thin solid silver;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8em; /* Equivalent to 12.8px assuming 16px base */
}
.header-container a {
  color: #ffffff;
}
.header-container img {
  border: 0;
}
.header-branding {
  position: fixed;
  height: 0;
  right: 0;
  top: 255px;
  z-index: -1;
}
.header-branding p {
  margin: 12.8px 0;
}
.header-branding img {
  width: 60px;
  height: 355px;
}
.header-social-float-right {
  float: right;
  width: 160px;
  height: 12.7969px;
}
.header-navlist {
  position: relative;
  width: 120px;
  margin: 12.8px 0;
  padding-left: 40px;
  list-style-type: disc;
}
.header-navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  height: 42px;
  display: block;
  font-size: 0.8em; /* Equivalent to 12.8px assuming 16px base */
}
.header-navlist a {
  height: 42px;
  display: block;
  color: #ffffff;
  text-decoration: underline;
}
.header-navlist a:hover {
  text-decoration: none;
}
.header-fb-icon {
  left: 0px;
  width: 42px;
  background: url('../images/icons/gc-fb.png') 0 0;
  border-radius: 12px;
}
.header-fb-icon a:hover {
  background: url('../images/icons/gc-fb.png') 0 -42px white;
  border-radius: 16px;
  box-shadow: 0 0 4px silver;
}
.header-donation-icon {
  left: 50px;
  width: 42px;
  background: url('../images/icons/gc-donation.png') 0 0;
  border-radius: 12px;
}
.header-donation-icon a:hover {
  background: url('../images/icons/gc-donation.png') 0 -42px white;
  border-radius: 16px;
  box-shadow: 0 0 4px silver;
}
.header-rss-icon {
  left: 100px;
  width: 42px;
  background: url('../images/icons/gc-rss.png') 0 0;
  border-radius: 12px;
}
.header-rss-icon a:hover {
  background: url('../images/icons/gc-rss.png') 0 -42px white;
  border-radius: 16px;
  box-shadow: 0 0 4px silver;
}
.header-banner-wrapper {
  margin: 0px;
  height: 74px;
  width: 1907.22px;
}
.header-banner-wrapper img {
  width: 292px;
  height: 55px;
}
.header-tagline {
  font-style: italic;
  font-size: 1.1em; /* Equivalent to 17.6px assuming 16px base */
  margin: 0 0 0 10px;
  color: #08006d;
  text-shadow: 0px 0px 9px white;
  height: 16px;
  width: 1897.22px;
}
.header-language-selector {
  font-size: 0.9em; /* Equivalent to 14.4px assuming 16px base */
  float: right;
  margin-right: 1em; /* Equivalent to 16px assuming 16px base */
  height: 14px;
  width: 1043.62px;
}
.header-language-selector a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 400;
  font-size: 0.9em; /* Equivalent to 14.4px assuming 16px base */
}
.header-language-selector a:hover {
  text-decoration: none;
}
.header-location {
  padding-left: 0.3em; /* Equivalent to 4.8px assuming 16px base */
}
