.footer-brand {
  padding-bottom: 6rem;
  padding-top: 11.0625rem; /* Equivalent to 177px assuming 16px base */
  position: relative;
}
.footer-brand--primary {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 max(min(3.75rem, 16vw), 1rem) 1rem; /* Equivalent to 0px max(min(60px, 16vw), 16px) 16px assuming 16px base */
}
.footer-brand--primary-content {
  display: flex;
  flex-direction: column;
  gap: 2rem 7.5rem; /* Equivalent to 32px 120px assuming 16px base */
  align-items: center;
}
@media (min-width: 768px) {
  .footer-brand--primary-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-brand--left {
  display: flex;
  gap: 3.75rem; /* Equivalent to 60px assuming 16px base */
  padding-left: 2.25rem; /* Equivalent to 36px assuming 16px base */
  padding-right: 2.25rem; /* Equivalent to 36px assuming 16px base */
  align-items: center;
  justify-content: center;
}
.footer-brand--logo {
  height: 3.9375rem; /* Equivalent to 63px assuming 16px base */
  min-width: 3.375rem; /* Equivalent to 54px assuming 16px base */
  display: inline-block;
}
.footer-brand--logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-brand--secondary-logo {
  min-width: 4.375rem; /* Equivalent to 70px assuming 16px base */
  width: 4.375rem; /* Equivalent to 70px assuming 16px base */
  max-height: 100%;
  display: inline-block;
}
.footer-brand--secondary-logo-img {
  width: 100%;
  object-fit: contain;
}
.footer-brand--right {
  width: 100%;
}
.footer-brand--navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .footer-brand--navbar {
    display: flex;
  }
}
.footer-brand--navbar-left {
  display: flex;
  flex-direction: column;
  gap: 2.25rem; /* Equivalent to 36px assuming 16px base */
  padding-right: 2rem; /* Equivalent to 32px assuming 16px base */
  border-right: 1px solid rgba(217, 217, 217, 0.302);
  align-items: flex-start;
}
@media (min-width: 768px) {
  .footer-brand--navbar-left {
    flex-direction: row;
  }
}
.footer-brand--navbar-right {
  display: flex;
  flex-direction: column;
  gap: 2.25rem; /* Equivalent to 36px assuming 16px base */
  padding-left: 2rem; /* Equivalent to 32px assuming 16px base */
  align-items: flex-start;
}
@media (min-width: 768px) {
  .footer-brand--navbar-right {
    flex-direction: row;
  }
}
.footer-brand--secondary {
  padding: 1rem 1.5rem; /* Equivalent to 16px 24px assuming 16px base */
}
.footer-brand--secondary-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem; /* Equivalent to 24px assuming 16px base */
  align-items: center;
}
@media (min-width: 768px) {
  .footer-brand--secondary-content {
    justify-content: space-between;
  }
}
.footer-brand--social-media-title {
  color: #fff;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: 2rem; /* Equivalent to 32px assuming 16px base */
  padding-bottom: 1.25rem; /* Equivalent to 20px assuming 16px base */
  text-align: center;
}
.footer-brand--right-list {
  display: flex;
  gap: 1rem; /* Equivalent to 16px assuming 16px base */
  padding-left: 2.25rem; /* Equivalent to 36px assuming 16px base */
  padding-right: 2.25rem; /* Equivalent to 36px assuming 16px base */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
}
.footer-brand--right-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-brand--right-link {
  height: 2.6875rem; /* Equivalent to 43px assuming 16px base */
  width: 2.6875rem; /* Equivalent to 43px assuming 16px base */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s linear;
}
.footer-brand--right-link:hover {
  transform: scale(1.3334);
}
.footer-brand--right-link-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-brand--left-list {
  display: flex;
  gap: 0.5rem; /* Equivalent to 8px assuming 16px base */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.footer-brand--left-item {
  padding: 0 1.5rem; /* Equivalent to 0px 24px assuming 16px base */
  border-right: 0.125rem solid rgba(255, 255, 255, 0.302);
}
.footer-brand--left-item:first-child {
  padding-left: 0;
}
.footer-brand--left-item:last-child {
  border: none;
  padding-right: 0;
}
.footer-brand--left-link {
  color: #fff;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  line-height: 1.5rem; /* Equivalent to 24px assuming 16px base */
  text-decoration: none;
  display: inline-block;
}
.footer-brand--left-link:hover {
  text-decoration: underline;
}
.footer-brand--left-copyright {
  text-align: center;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  line-height: 1.5rem; /* Equivalent to 24px assuming 16px base */
  display: inline-block;
}
.footer-brand--left-text {
  color: #fff;
}
