.hero-section {
  height: 100vh; /* Equivalent to 100% of viewport height */
  max-height: 1080px;
  min-height: 680px;
  position: relative;
  padding: 0;
  scroll-behavior: smooth;
}

.hero-video-slider {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  min-height: 500px;
  overflow: hidden;
}

.hero-slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.hero-slide {
  min-width: 100%;
}

.hero-slide-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.125);
}

.hero-upcoming-event {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Equivalent to 30px */
  justify-content: center;
}

.hero-rock-img {
  width: 20vw;
  min-width: 200px;
  max-width: 500px;
}

.hero-adv-text {
  font-size: clamp(24px, 5vw, 48px); /* Equivalent to max(min(5px + 2.45vw, 48px), 24px) */
  color: #ffffff;
  font-family: 'gothambold';
  text-align: center;
  margin-top: 30px; /* Equivalent to 30px */
  font-weight: 600;
}

.hero-suv-back {
  white-space: pre;
  position: relative;
  font-family: 'gothambold';
}

.hero-suv-back > img {
  position: absolute;
  width: 114%;
  height: 19px; /* Equivalent to 19px */
  top: auto;
  bottom: -28px; /* Equivalent to -28px */
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hero-afterLayerBottom {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 111 !important;
}

.hero-afterLayerBottom img {
  position: absolute;
  bottom: -35px; /* Equivalent to -35px */
  left: 0;
  width: 110vw;
  max-width: calc(1920px + 10vw);
  transform: translate(-5vw, 0);
  height: 70px; /* Equivalent to 70px */
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 70vh;
    min-height: 550px;
  }

  .hero-afterLayerBottom img {
    height: 60px; /* Equivalent to 60px */
    bottom: -30px; /* Equivalent to -30px */
  }
}
