.header-position-relative {
  position: relative;
}
.header-mb-15 {
  margin-bottom: 3.5rem;
}
.header-d-none {
  display: none;
}
.header-boing-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 33.75rem;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}
.header-d-flex {
  display: flex;
}
.header-justify-content-between {
  justify-content: space-between;
}
.header-align-items-center {
  align-items: center;
}
.header-h-15 {
  height: 3.5rem;
}
.header-px-5 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header-py-2 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.header-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}
.header-w-100 {
  width: 100%;
}
.header-bg-white {
  background-color: #fff !important;
}
.header-d-flex {
  display: flex;
}
.header-w-25 {
  width: 25% !important;
}
.header-justify-content-center {
  justify-content: center;
}
.header-header__logo {
  align-items: center;
  display: flex;
}
.header-header__logo-img {
  display: inline-block;
  height: 3.125rem;
}
.header-justify-content-end {
  justify-content: flex-end;
}
.header-text-boing-primary {
  color: #aa1f30 !important;
}
.header-bg-transparent {
  background-color: transparent !important;
}
.header-fw-semibold {
  font-weight: 600 !important;
}
.header-rounded-4 {
  border-radius: 1rem !important;
}
.header-py-3 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}
.header-px-4 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.header-submenu-container {
  bottom: -100vh;
  display: none;
  margin: auto;
  max-width: 33.75rem;
  overflow: hidden;
  position: fixed;
  z-index: 999;
}
.header-sidebar {
  background-color: #fff;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  scrollbar-width: none;
  top: 3.5rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  width: 17.8125rem;
  z-index: 999;
}
.header-list-unstyled {
  list-style: none;
}
.header-px-4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.header-py-6 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.header-border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
.header-border-boing-neutral-gray-200 {
  border-color: #d9d9d9 !important;
}
.header-d-flex {
  display: flex;
}
.header-align-items-center {
  align-items: center;
}
.header-text-decoration-none {
  text-decoration: none !important;
}
.header-px-6 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.header-fw-medium {
  font-weight: 500 !important;
}
.header-sidebar__menu-icon {
  height: 1.125rem;
  width: 1.125rem;
}
.header-me-4 {
  margin-right: 0.75rem !important;
}
.header-sidebar__menu-link {
  color: #030303;
}
.header-sidebar__curve {
  background-color: #fff;
  border-radius: 0 0 2rem 2rem;
  bottom: -3rem;
  height: 4.5rem;
  overflow: hidden;
  position: relative;
  right: 0;
  transform: skewY(-8.34deg);
  z-index: 10;
}
.header-footer-brand {
  padding-bottom: 6rem;
  padding-top: 11.0625rem;
  position: relative;
}
.header-w-100 {
  width: 100%;
}
.header-bg-boing-neutral-gray-600 {
  background-color: #161616 !important;
}
.header-footer-brand__primary {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 max(min(3.75rem, 16vw), 1rem) 1rem;
}
.header-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}
.header-footer-brand__primary--content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem 7.5rem;
  justify-content: flex-start;
}
.header-footer-brand__left {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  justify-content: center;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.header-footer-brand__logo {
  display: inline-block;
  height: 3.9375rem;
  min-width: 3.375rem;
}
.header-object-fit-contain {
  object-fit: contain !important;
}
.header-footer-brand__secondary--logo {
  display: inline-block;
  max-height: 100%;
  min-width: 4.375rem;
  width: 4.375rem;
}
.header-footer-brand__right {
  width: 100%;
}
.header-footer-brand__navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-footer-brand__navbar--left {
  align-items: flex-start;
  border-right: 1px solid rgba(217, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding-right: 2rem;
  width: 100%;
}
.header-footerList {
  height: 50%;
}
.header-footer-list {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  height: 100%;
  justify-content: space-between;
  list-style: none;
}
.header-footer-list__item {
  width: 100%;
}
.header-footer-list__item--link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: normal;
}
.header-footer-brand__navbar--right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding-left: 2rem;
  width: 100%;
}
.header-footer-brand__secondary {
  padding: 1rem 1.5rem;
}
.header-footer-brand__secondary--content {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: space-between;
}
.header-footer-brand__right {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.header-social_media--title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-bottom: 1.25rem;
  text-align: center;
}
.header-footer-brand__right--list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  max-width: 100%;
}
.header-footer-brand__right--item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-footer-brand__right--link {
  align-items: center;
  display: flex;
  height: 2.6875rem;
  justify-content: center;
  transition: transform 0.2s linear;
  width: 2.6875rem;
}
.header-footer-brand__left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.header-footer-brand__left--list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.header-foot_link {
  border-right: 0.125rem solid rgba(255, 255, 255, 0.3);
  padding: 0 1.5rem;
}
.header-footer-brand__left--link {
  color: #fff;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: none;
}
.header-footer-brand__left--copyright {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
}
.header-footer-brand__left--text {
  color: #fff;
}
.header-overlay {
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}
