.contentarea-container {
  margin-top: 1.25rem; /* Equivalent to 20px assuming 16px base */
  margin-bottom: 1.25rem; /* Equivalent to 20px assuming 16px base */
  margin-left: 0.625rem; /* Equivalent to 10px assuming 16px base */
  padding: 0.625rem; /* Equivalent to 10px assuming 16px base */
  float: left;
  max-width: 65%;
  background-color: #ffffff;
  border: thin solid #7f7faa;
  border-radius: 0 1.5625rem 1.5625rem 1.5625rem; /* Equivalent to 0 25px 25px 25px assuming 16px base */
  box-shadow: 0.25rem 0.25rem 0.5rem silver; /* Equivalent to 4px 4px 8px silver assuming 16px base */
}
.contentarea-container a {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}
.contentarea-container a:hover,
.contentarea-container a:active {
  background-color: #7f7faa;
  text-decoration: none;
  color: #ffffff;
}
.contentarea-title {
  border-bottom: thin solid #7f7faa;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 1.6rem; /* Equivalent to 25.6px assuming 16px base */
  font-weight: 700;
  color: #000000;
  margin-block-start: 1.072rem; /* Equivalent to 17.152px assuming 16px base */
  margin-block-end: 1.072rem; /* Equivalent to 17.152px assuming 16px base */
}
.contentarea-main-content {
  width: 100%;
  float: left;
}
.contentarea-download {
  float: right;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0.4em;
  background-color: #7f7faa;
  border: 1px solid #cacaf7;
  color: #ffffff;
  box-shadow: 0.625rem 0.625rem 0.3125rem #888888; /* Equivalent to 10px 10px 5px #888888 assuming 16px base */
  border-radius: 0.9375rem; /* Equivalent to 15px assuming 16px base */
}
.contentarea-download-details {
  float: left;
}
.contentarea-download-heading {
  margin-top: 0;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 1.2rem; /* Equivalent to 19.2px assuming 16px base */
  font-weight: 700;
  color: #ffffff;
  margin-block-start: 0.996rem; /* Equivalent to 15.936px assuming 16px base */
  margin-block-end: 0.996rem; /* Equivalent to 15.936px assuming 16px base */
}
.contentarea-download-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0.5rem; /* Equivalent to 8px assuming 16px base */
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #ffffff;
  margin-block-start: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  margin-block-end: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  padding-inline-start: 2.5rem; /* Equivalent to 40px assuming 16px base */
}
.contentarea-download-item {
  padding-bottom: 0.5rem; /* Equivalent to 8px assuming 16px base */
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #ffffff;
}
.contentarea-download-icon {
  vertical-align: middle;
  border: 0;
}
.contentarea-download-sublist {
  list-style-type: disc;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #ffffff;
  margin-block-start: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  margin-block-end: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  padding-inline-start: 2.5rem; /* Equivalent to 40px assuming 16px base */
}
.contentarea-download-subitem {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #ffffff;
}
.contentarea-download-link {
  color: #e3e3e3;
  font-weight: bold;
  text-decoration: none;
}
.contentarea-download-link:hover {
  text-decoration: underline;
  color: #ffffff;
  text-shadow: 0 0 0.5625rem #ffffff; /* Equivalent to 0px 0px 9px white assuming 16px base */
}
.contentarea-download-more {
  font-size: 0.8em; /* Equivalent to 10.24px assuming 16px base */
}
.contentarea-download-image {
  float: right;
  width: 12.5rem; /* Equivalent to 200px assuming 16px base */
  text-align: center;
}
.contentarea-download-image img {
  width: 100%;
  max-width: 12.5rem; /* Equivalent to 200px assuming 16px base */
}
.contentarea-download-old-versions {
  float: left;
}
.contentarea-text-paragraph {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #000000;
  margin-block-start: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  margin-block-end: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
}
.contentarea-text-justify {
  text-align: justify;
}
.contentarea-gnucash {
  font-weight: bold;
  font-style: italic;
  color: #7f7faa;
}
.contentarea-link {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
.contentarea-help-section {
  float: right;
}
.contentarea-dialog {
  clear: right;
  padding-left: 3.625rem; /* Equivalent to 58px assuming 16px base */
  border: 1px solid #7f7faa;
  margin: 1em 2em;
  min-height: 3.4375rem; /* Equivalent to 55px assuming 16px base */
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #000000;
}
.contentarea-note {
  background: url("../images/icons/gnome-dialog-information.png") 0.3125rem 0.3125rem no-repeat #e6e6f7; /* Equivalent to 5px 5px assuming 16px base */
  padding-right: 1.25rem; /* Equivalent to 20px assuming 16px base */
}
.contentarea-dialog-title {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 1.6rem; /* Equivalent to 25.6px assuming 16px base */
  font-weight: 700;
  color: #000000;
  margin-block-start: 1.072rem; /* Equivalent to 17.152px assuming 16px base */
  margin-block-end: 1.072rem; /* Equivalent to 17.152px assuming 16px base */
}
.contentarea-features-section {
  width: 100%;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #000000;
}
.contentarea-features-heading {
  margin-bottom: 0.0625rem; /* Equivalent to 1px assuming 16px base */
  margin-top: 0;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 1.2rem; /* Equivalent to 19.2px assuming 16px base */
  font-weight: 700;
  color: #000000;
  margin-block-start: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  margin-block-end: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
}
.contentarea-main-feature {
  margin-left: 0.3125rem; /* Equivalent to 5px assuming 16px base */
  margin-right: 0.3125rem; /* Equivalent to 5px assuming 16px base */
  background: url("../images/gnucash-perspective.png") #f3f3f3 95% no-repeat;
  color: #000000;
  border: 1px dotted #7f7faa;
  padding: 1%;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
}
.contentarea-feature-list {
  font-style: italic;
  list-style-image: url("../images/checkmark.png");
  padding: 1.875rem 0.625rem 1.875rem 1.875rem; /* Equivalent to 30px 10px 30px 30px assuming 16px base */
  line-height: 1.5625rem; /* Equivalent to 25px assuming 16px base */
  margin: 0 53% 0 0;
  background-color: #f3f3f3;
  border-right: thin solid silver;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  color: #000000;
  margin-block-start: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  margin-block-end: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  padding-inline-start: 2.5rem; /* Equivalent to 40px assuming 16px base */
}
.contentarea-feature-item {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 400;
  font-style: italic;
  line-height: 1.5625rem; /* Equivalent to 25px assuming 16px base */
  color: #000000;
}
.contentarea-discover-more-link {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}
