.latestblogs-article_listing--wrapper {
  border-radius: 2rem;
  margin: 0 0 -3.3125rem;
  padding-bottom: 4.375rem;
  padding-top: 4.0625rem;
  position: relative;
  width: 100%;
}
.latestblogs-article_listing--wrapper::before {
  background-blend-mode: overlay;
  background-color: #aa1f30;
  background-image: url("clientlib-boing/resources/images/static/bg-image.png");
  background-position: 100% 115%;
  background-repeat: no-repeat;
  border-radius: 2rem;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewY(-8.74deg);
  width: 100%;
  z-index: 1;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing {
  padding-bottom: 1.5625rem;
  position: relative;
  z-index: 1;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing--desc {
  padding-inline: 2rem;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--first {
  padding-inline: 1rem;
  padding-bottom: 2rem;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second {
  -ms-overflow-style: none;
  background-position: top;
  background-repeat: no-repeat;
  gap: 1rem;
  overflow-x: scroll;
  padding-inline: 1rem;
  scrollbar-width: none;
  display: flex;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second::-webkit-scrollbar {
  display: none;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-article_listing--cardWrapper {
  text-decoration: none;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-article_listing--cards {
  background-color: #f6bb00;
  border-radius: 1.625rem;
  width: 14rem;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-article_listing--cards .latestblogs-boing--text__body {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-article_listing--cardImageWrapper {
  height: 14rem;
  width: 14rem;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-article_listing--cardImageWrapper .latestblogs-article_listing--cardImage {
  border-top-left-radius: 1.625rem;
  border-top-right-radius: 1.625rem;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing_section--second .latestblogs-cards_content--wrapper {
  color: #030303;
  padding: 1rem 1rem 1.625rem;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing--btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6bb00;
  border-radius: 1.375rem;
  color: #030303;
  display: flex;
  gap: 0.625rem;
  margin-inline: auto;
  padding: 0.75rem 1.375rem;
  text-align: center;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.latestblogs-article_listing--wrapper .latestblogs-article_listing--btn .latestblogs-arrow-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.latestblogs-boing--text__heading-1 {
  font-family: Barlow;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: normal;
}

.latestblogs-boing--text__body-2 {
  font-family: Barlow;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 400;
  line-height: normal;
}

.latestblogs-boing--text__title-3 {
  font-family: Barlow;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 600;
  line-height: normal;
}

.latestblogs-boing--text__body-5 {
  font-family: Barlow;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 500;
  line-height: normal;
}

.latestblogs-boing--text__body {
  font-family: Barlow;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 400;
  line-height: normal;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.pb-3 {
  padding-bottom: 0.5rem;
}

.pb-4 {
  padding-bottom: 0.75rem;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mb-3 {
  margin-bottom: 0.5rem;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
