.featurehighlights-mainfeature {
  margin-left: 0.3125rem; /* Equivalent to 5px assuming 16px base */
  margin-right: 0.3125rem; /* Equivalent to 5px assuming 16px base */
  background: url("../images/gnucash-perspective.png") #f3f3f3 95% no-repeat;
  color: black;
  border: 0.0625rem dotted #7f7faa; /* Equivalent to 1px assuming 16px base */
  padding: 1%;
}
.featurehighlights-mainfeature ul {
  font-style: italic;
  list-style-image: url("../images/checkmark.png");
  padding: 1.875rem 0.625rem 1.875rem 1.875rem; /* Equivalent to 30px 10px 30px 30px assuming 16px base */
  line-height: 1.5625rem; /* Equivalent to 25px assuming 16px base */
  margin: 0 53% 0 0;
  background-color: #f3f3f3;
  border-right: thin solid silver;
}
.featurehighlights-discover-more {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8rem; /* Equivalent to 12.8px assuming 16px base */
  font-weight: 700;
  color: rgb(8, 0, 109);
  text-decoration: underline;
}
.featurehighlights-discover-more:hover,
.featurehighlights-discover-more:active {
  background-color: #7f7faa;
  text-decoration: none;
  color: white;
}