.text-f3449c992e-cmp-text {
  padding: 1.75rem 1rem 0.75rem;
  animation-composition: replace;
  animation-delay: 0s;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  block-size: 52px;
  border-block-end-color: rgb(34, 34, 34);
  border-block-start-color: rgb(34, 34, 34);
  border-bottom-color: rgb(34, 34, 34);
  border-collapse: separate;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-width: 1;
  border-inline-end-color: rgb(34, 34, 34);
  border-inline-start-color: rgb(34, 34, 34);
  border-left-color: rgb(34, 34, 34);
  border-right-color: rgb(34, 34, 34);
  border-top-color: rgb(34, 34, 34);
  box-decoration-break: slice;
  box-sizing: border-box;
  caption-side: top;
  caret-color: rgb(34, 34, 34);
  clip-rule: nonzero;
  color: rgb(34, 34, 34);
  color-interpolation: srgb;
  color-interpolation-filters: linearrgb;
  column-rule-color: rgb(34, 34, 34);
  direction: ltr;
  display: block;
  dynamic-range-limit: no-limit;
  empty-cells: show;
  field-sizing: fixed;
  fill: rgb(0, 0, 0);
  fill-opacity: 1;
  fill-rule: nonzero;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  flood-color: rgb(0, 0, 0);
  flood-opacity: 1;
  font-family: Barlow;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-stretch: 100%;
  font-weight: 400;
  grid-auto-flow: row;
  height: 3.25rem; /* Equivalent to 52px assuming 16px base */
  hyphens: manual;
  image-orientation: from-image;
  inline-size: 508px;
  interpolate-size: numeric-only;
  lighting-color: rgb(255, 255, 255);
  list-style-position: outside;
  list-style-type: disc;
  mask-clip: border-box;
  mask-composite: add;
  mask-mode: match-source;
  mask-origin: border-box;
  mask-position: 0% 0%;
  mask-repeat: repeat;
  mask-type: luminance;
  math-depth: 0;
  object-fit: fill;
  object-position: 50% 50%;
  offset-rotate: auto 0deg;
  opacity: 1;
  order: 0;
  orphans: 2;
  outline-color: rgb(34, 34, 34);
  overflow-block: visible;
  overflow-inline: visible;
  overflow-x: visible;
  overflow-y: visible;
  perspective-origin: 254px 26px;
  position: static;
  position-visibility: always;
  print-color-adjust: economy;
  ruby-align: space-around;
  ruby-position: over;
  scroll-timeline-axis: block;
  shape-image-threshold: 0;
  stop-color: rgb(0, 0, 0);
  stop-opacity: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-width: 1px;
  tab-size: 8;
  text-align: start;
  text-anchor: start;
  text-decoration: none solid rgb(34, 34, 34);
  text-decoration-color: rgb(34, 34, 34);
  text-decoration-style: solid;
  text-emphasis-color: rgb(34, 34, 34);
  text-emphasis-position: over;
  text-overflow: clip;
  text-size-adjust: 100%;
  text-wrap-mode: wrap;
  transform-origin: 254px 26px;
  transform-style: flat;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  unicode-bidi: isolate;
  vertical-align: baseline;
  view-timeline-axis: block;
  visibility: visible;
  white-space-collapse: collapse;
  widows: 2;
  width: 508px;
  writing-mode: horizontal-tb;
  z-index: 1;
  zoom: 1;
}
.text-f3449c992e-cmp-text h1 {
  color: #161616;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: normal;
  padding: 1.5rem 0; /* Equivalent to 24px 0px assuming 16px base */
}
.text-f3449c992e-cmp-text--weekly {
  color: #aa1f30;
  font-family: Barlow;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: normal;
}
.text-f3449c992e-cmp-text p {
  color: #414141;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 400;
  line-height: normal;
  margin-top: 0.25rem; /* Equivalent to 4px assuming 16px base */
}
