.footer-brand-component {
  padding-bottom: 6rem;
  padding-top: 11.0625rem;
  position: relative;
}
.footer-brand-component--w-100 {
  width: 100% !important;
}
.footer-brand-component--bg-boing-neutral-gray-600 {
  background-color: #161616 !important;
}
@media (max-width: 440px) {
  .footer-brand-component {
    padding-top: 9rem;
  }
}
.footer-brand-component__primary {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 max(min(3.75rem, 16vw), 1rem) 1rem;
}
.footer-brand-component__container {
  padding: 0;
  width: 100%;
}
.footer-brand-component__primary--content {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-column-gap: 7.5rem;
  -moz-column-gap: 7.5rem;
  column-gap: 7.5rem;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  row-gap: 2rem;
}
.footer-brand-component--d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.footer-brand-component--flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.footer-brand-component--align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
@media (min-width: 768px) {
  .footer-brand-component--flex-md-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .footer-brand-component--justify-content-md-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
}
.footer-brand-component__left {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
.footer-brand-component--gap-16 {
  gap: 3.75rem !important;
}
.footer-brand-component--px-10 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}
@media (max-width: 767.98px) {
  .footer-brand-component__left {
    min-height: 55px;
  }
}
.footer-brand-component__logo {
  height: 3.9375rem;
  min-width: 3.375rem;
}
.footer-brand-component--d-inline-block {
  display: inline-block !important;
}
.footer-brand-component--analytics_cta_click {
  cursor: pointer;
}
.footer-brand-component__secondary--logo {
  max-height: 100%;
  min-width: 4.375rem;
  width: 4.375rem;
}
.footer-brand-component__right {
  width: 100%;
}
.footer-brand-component__navbar {
  grid-template-columns: repeat(2, 1fr);
}
.footer-brand-component--d-grid {
  display: grid !important;
}
@media (min-width: 768px) {
  .footer-brand-component--d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.footer-brand-component__navbar--left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  align-items: flex-start;
  border-right: 1px solid rgba(217, 217, 217, 0.302);
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  gap: 2.25rem;
  padding-right: 2rem;
  width: 100%;
}
.footer-list-component__list {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  gap: 2.25rem;
  height: 100%;
  justify-content: space-between !important;
  list-style: none;
}
.footer-list-component--d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.footer-list-component--align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.footer-list-component--justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.footer-list-component--flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
@media (min-width: 768px) {
  .footer-list-component--align-items-md-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
}
.footer-list-component__item {
  width: 100%;
}
.footer-list-component--cta-analytics {
  cursor: pointer;
}
.footer-list-component__item--link {
  color: #fff;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: normal;
}
.footer-list-component--d-inline-block {
  display: inline-block !important;
}
.footer-list-component__item--link:hover {
  text-decoration: underline;
}
.footer-brand-component__navbar--right {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  align-items: flex-start;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  gap: 2.25rem;
  padding-left: 2rem;
  width: 100%;
}
.footer-brand-component__secondary {
  padding: 1rem 1.5rem;
}
.footer-brand-component__secondary--content {
  row-gap: 1.5rem;
}
.footer-brand-component__right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-brand-component--pb-5 {
  padding-bottom: 1rem !important;
}
.footer-brand-component--social_media--title {
  color: #fff;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: 2rem; /* Equivalent to 32px assuming 16px base */
  padding-bottom: 1.25rem;
  text-align: center;
}
.footer-brand-component__right--list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
  max-width: 100%;
}
.footer-brand-component--px-10 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}
.footer-brand-component--flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
@media (max-width: 767.98px) {
  .footer-brand-component__right--list {
    min-height: 40px;
  }
}
.footer-brand-component__right--item {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.footer-brand-component__right--link {
  height: 2.6875rem;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 2.6875rem;
}
.footer-brand-component__right--link:hover {
  -webkit-transform: scale(1.3334);
  transform: scale(1.3334);
}
.footer-brand-component__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-brand-component--py-5 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}
.footer-brand-component--gap-3 {
  gap: 0.5rem !important;
}
.footer-brand-component__left--list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer-brand-component--flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.footer-brand-component__left--item {
  border-right: 0.125rem solid rgba(255, 255, 255, 0.302);
  padding: 0 1.5rem;
}
.footer-brand-component__left--item:first-child {
  padding-left: 0;
}
.footer-brand-component__left--item:last-child {
  border: 0;
  padding-right: 0;
}
.footer-brand-component__left--link {
  color: #fff;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  line-height: 1.5;
  text-decoration: none;
}
.footer-brand-component__left--link:hover {
  text-decoration: underline;
}
.footer-brand-component__left--copyright {
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
  line-height: 1.5;
}
.footer-brand-component--text-center {
  text-align: center !important;
}
.footer-brand-component__left--text {
  color: #fff;
}
.footer-brand-component--text-white {
  color: #fff !important;
}
