.story-sequence-wrapper {
  height: 180vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.story-sequence-frame {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  max-height: 100vh;
  width: 100%;
  z-index: 0;
  top: unset;
  bottom: 0px;
}
.story-sequence-text-container {
  max-width: 1500px;
  height: 60vh;
  position: relative;
  margin: 0 auto;
}
.story-sequence-text-container h2 {
  color: #000000;
  padding: 400px 10%;
  text-align: center;
  font-weight: 10000;
  font-family: "gotham";
  font-size: 3rem; /* Equivalent to 48px assuming 16px base */
}
.story-sequence-text-container h2 span {
  color: #000000;
  font-size: 3rem; /* Equivalent to 48px assuming 16px base */
  font-family: "gothambold" !important;
  font-weight: 1000;
  position: relative;
  min-height: 35px;
  max-height: 40px;
  z-index: 999;
}
.story-sequence-text-container h2 #span_tag_32::after,
.story-sequence-text-container h2 #span_tag_33::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 105%;
  height: 4px;
  background: url("/content/dam/aemigrate/uploaded-folder/image/Path%204346.webp") no-repeat;
  background-size: 100% 100%;
}
.story-sequence-text-container h2 #span_tag_33::after {
  left: -10px;
}
.story-sequence-text-container h2 #span_tag_1::after {
  content: '';
  position: absolute;
  top: -50%;
  left: 90%;
  width: 94%;
  height: 50%;
  background: url("/content/dam/aemigrate/uploaded-folder/image/Group%20159%402x_b.png") no-repeat;
  background-size: 100% 100%;
}
.story-sequence-text-container span img {
  position: absolute;
  width: 105%;
  height: 100%;
  z-index: -1;
  top: 0;
}
.story-sequence-text-container span.story-sequence-extra-s img {
  width: 110%;
  left: -10%;
}
.story-sequence-after-layer-bottom {
  position: absolute !important;
  z-index: 111 !important;
  width: 100%;
  height: auto;
  bottom: 0;
}
.story-sequence-after-layer-bottom img {
  position: absolute;
  bottom: -75px;
  left: 0;
  width: 110vw;
  max-width: calc(1920px + 10vw);
  transform: translate(-5vw, 0);
  height: 150px;
  z-index: 4;
}
@media screen and (max-width: 1024px) {
  .story-sequence-text-container h2 span {
    font-size: 1.75rem; /* Equivalent to 28px assuming 16px base */
  }
}
@media screen and (max-width: 768px) {
  .story-sequence-wrapper {
    height: 150vh;
  }
  .story-sequence-frame {
    min-height: calc(100vh + 30px);
  }
}
@media screen and (max-width: 600px) {
  .story-sequence-text-container h2 span {
    font-size: 1.125rem; /* Equivalent to 18px assuming 16px base */
  }
}