.bloglisting-section {
  min-height: 220px;
}
.bloglisting-section--wrapper-inner {
  border-radius: 0.75rem; /* Equivalent to 12px assuming 16px base */
  box-shadow: 0.125rem 0.25rem 1rem 0 rgba(0, 0, 0, 0.22); /* Equivalent to 2px 4px 16px 0px */
  margin-bottom: 1.5rem; /* Equivalent to 24px assuming 16px base */
  padding: 1.1875rem 1rem 2.5rem; /* Equivalent to 19px 16px 40px assuming 16px base */
  z-index: 11;
}
.bloglisting-section--wrapper-inner .bloglisting-blog-wrapper--img {
  aspect-ratio: 3/2;
  border-radius: 0.5rem; /* Equivalent to 8px assuming 16px base */
  overflow: hidden;
}
.bloglisting-section--wrapper-inner .bloglisting-video_thumbnail .bloglisting-video-icon {
  height: 3.75rem; /* Equivalent to 60px assuming 16px base */
  width: 3.75rem; /* Equivalent to 60px assuming 16px base */
}
.bloglisting-section--wrapper-inner .bloglisting-blog-date {
  color: #030303;
  padding-bottom: 1rem; /* Equivalent to 16px assuming 16px base */
  padding-top: 0.75rem; /* Equivalent to 12px assuming 16px base */
}
.bloglisting-section--wrapper-inner .bloglisting-blog-title {
  color: #aa1f30;
  padding-bottom: 0.5rem; /* Equivalent to 8px assuming 16px base */
}
.bloglisting-section--wrapper-inner .bloglisting-blog-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #161616;
  overflow: hidden;
}
.bloglisting-read-more-btn {
  color: #161616;
  cursor: pointer;
  font-style: italic;
}
.bloglisting-observer-element .bloglisting-boing-spinner {
  height: 3.125rem; /* Equivalent to 50px assuming 16px base */
  width: 3.125rem; /* Equivalent to 50px assuming 16px base */
}

.bloglisting-text-decoration-none {
  text-decoration: none !important;
}
.bloglisting-w-100 {
  width: 100% !important;
}
.bloglisting-position-relative {
  position: relative !important;
}
.bloglisting-boing--text__heading-6 {
  font-family: Barlow;
  font-size: 0.875rem; /* Equivalent to 14px assuming 16px base */
  font-weight: 500;
  line-height: normal;
}
.bloglisting-boing--text__heading-2 {
  font-family: Barlow;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  font-weight: 700;
  line-height: normal;
}
.bloglisting-boing--text__body-2 {
  font-family: Barlow;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-weight: 400;
  line-height: normal;
}
.bloglisting-d-flex {
  display: flex !important;
}
.bloglisting-justify-content-center {
  justify-content: center !important;
}
.bloglisting-boing-spinner {
  background: conic-gradient(#ffc4cb 10%, #aa1f30);
  animation: spinner-boing 1s linear infinite;
  border-radius: 50%;
  height: 3.125rem; /* Equivalent to 50px assuming 16px base */
  mask: radial-gradient(farthest-side, transparent calc(100% - 9px), #000 0);
  width: 3.125rem; /* Equivalent to 50px assuming 16px base */
  z-index: 12;
}

@keyframes spinner-boing {
  to {
    transform: rotate(1turn);
  }
}