.featurecards-container {
  padding: 1.5rem 1rem 1rem;
  position: relative;
}
.featurecards-container .featurecards-text {
  font-family: Barlow;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
  font-weight: 700;
  line-height: 1.75rem; /* Equivalent to 28px assuming 16px base */
  padding-bottom: 1rem;
}
.featurecards-container .featurecards-text .featurecards-title-highlight {
  color: #aa1f30;
}
.featurecards-container .featurecards-section {
  margin-inline: auto;
  padding-bottom: 1.5rem;
}
.featurecards-container .featurecards-section .featurecards-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.featurecards-container .featurecards-section .featurecards-image-wrapper {
  height: 12.0625rem; /* Equivalent to 193px assuming 16px base */
  width: 100%;
  padding-bottom: 0.75rem;
}
.featurecards-container .featurecards-section .featurecards-image-wrapper .featurecards-image {
  width: 100%;
  height: 100%;
}
.featurecards-container .featurecards-section .featurecards-content-wrapper {
  text-align: center;
}
.featurecards-container .featurecards-section .featurecards-card-title {
  color: #aa1f30;
  margin-bottom: 0.25rem;
}
.featurecards-container .featurecards-section .featurecards-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.featurecards-container .featurecards-section .featurecards-description-wrapper {
  padding-bottom: 1rem;
}
.featurecards-container .featurecards-section .featurecards-redirect-button-wrapper {
  display: none;
}
.featurecards-container .featurecards-section .featurecards-arrow-icon-btn {
  background-color: #aa1f30;
  border-radius: 50%;
  cursor: pointer;
  height: 2.5rem; /* Equivalent to 40px assuming 16px base */
  width: 2.5rem; /* Equivalent to 40px assuming 16px base */
}
.featurecards-container .featurecards-section .featurecards-arrow-icon-btn .icon-svg {
  height: 1.25rem; /* Equivalent to 20px assuming 16px base */
  width: 1.25rem; /* Equivalent to 20px assuming 16px base */
}
.featurecards-container .featurecards-bolte-sitare-card-section {
  border-radius: 0.75rem; /* Equivalent to 12px assuming 16px base */
  box-shadow: 0.125rem 0.25rem 1rem 0px rgba(0, 0, 0, 0.22);
  margin-bottom: 1rem;
  padding: 0.75rem 1.125rem 0.75rem 0.75rem;
  position: relative;
  z-index: 11;
  display: none;
}
.featurecards-container .featurecards-bolte-sitare-card-section:first-of-type {
  padding-top: 1.25rem;
}
.featurecards-container .featurecards-bolte-sitare-card-section:last-of-type {
  margin-bottom: 3.375rem;
}
.featurecards-container .featurecards-bolte-sitare-card-section .featurecards-bolte-sitare-card-wrapper {
  display: flex;
  gap: 0.75rem;
}
.featurecards-container .featurecards-bolte-sitare-card-section .featurecards-bolte-sitare-content-wrapper {
  flex: 1;
}
.featurecards-container .featurecards-bolte-sitare-card-section .featurecards-bolte-sitare-card-image {
  border-radius: 0.25rem; /* Equivalent to 4px assuming 16px base */
  height: 6.8125rem; /* Equivalent to 109px assuming 16px base */
  width: 8.3125rem; /* Equivalent to 133px assuming 16px base */
}
.featurecards-container .featurecards-bolte-sitare-card-section .featurecards-bolte-sitare-card-image .featurecards-bolte-sitare-card-img {
  border-radius: 0.25rem; /* Equivalent to 4px assuming 16px base */
  height: 100%;
  width: 100%;
}
.featurecards-container .featurecards-bolte-sitare-card-section .featurecards-bolte-sitare-card-title {
  padding-bottom: 0.25rem;
}
.featurecards-container .featurecards-bolte-sitare-card-section .featurecards-bolte-sitare-card-btn {
  background-color: #aa1f30;
  border-radius: 6.25rem; /* Equivalent to 100px assuming 16px base */
  cursor: pointer;
  height: 1.8125rem; /* Equivalent to 29px assuming 16px base */
  line-height: 1.8125rem; /* Equivalent to 29px assuming 16px base */
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
}
.featurecards-container .featurecards-curve-container {
  background-color: #fff;
  border-radius: 0 0 2rem 2rem;
  bottom: -3.6875rem; /* Equivalent to -59px assuming 16px base */
  height: 6.25rem; /* Equivalent to 100px assuming 16px base */
  overflow: hidden;
  position: absolute;
  right: 0;
  transform: skewY(-6.2deg);
  width: 100%;
  z-index: 10;
}
.boing--text__heading-1 {
  font-family: Barlow;
  font-weight: 700;
  line-height: normal;
  font-size: 1.5rem; /* Equivalent to 24px assuming 16px base */
}
.boing--text__body-2 {
  font-family: Barlow;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
}
.boing--text__heading-3 {
  font-family: Barlow;
  font-weight: 700;
  line-height: normal;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
}
.boing--text__body-3 {
  font-family: Barlow;
  font-weight: 400;
  line-height: normal;
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
}
.boing--text__body-4 {
  font-family: Barlow;
  font-weight: 600;
  line-height: 1rem; /* Equivalent to 16px assuming 16px base */
  font-size: 0.75rem; /* Equivalent to 12px assuming 16px base */
}
