.faqs-section {
  background-color: #000000;
}
.faqs-section .faqs-paddingCon {
  padding: 6.25rem 10%;
}
@media screen and (max-width: 1400px) {
  .faqs-section .faqs-paddingCon {
    padding: 6.25rem 5%;
  }
}
@media screen and (max-width: 768px) {
  .faqs-section .faqs-paddingCon {
    padding: 7.5rem 5%;
  }
}
.faqs-faq_head {
  font-family: "gothambold";
  font-size: 3rem; /* Equivalent to 48px assuming 16px base */
  color: #ffffff;
  text-align: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, 0);
}
.faqs-faq_head::after {
  content: "";
  position: absolute;
  height: 220%;
  width: 56%;
  background: url("/content/dam/aemigrate/uploaded-folder/image/Group%20233@2x.png") 0% 0% / 100% 100% no-repeat;
  left: 100%;
  top: -61%;
}
@media screen and (max-width: 1024px) {
  .faqs-faq_head {
    font-size: 1.75rem; /* Equivalent to 28px assuming 16px base */
  }
}
.faqs-tandc {
  margin-top: 3.125rem;
}
@media screen and (max-width: 1400px) {
  .faqs-tandc {
    margin-top: 1.25rem;
    transition: all 0.5s;
  }
}
.faqs-tandc_text {
  display: grid;
  grid-template-columns: auto 3.125rem;
  align-items: start;
  justify-content: space-between;
  transition: all 0.5s;
  gap: 0.9375rem;
}
.faqs-tandc_text p {
  color: #b2b2b2;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
  font-family: "gotham";
  font-weight: 600;
  line-height: 1.4;
}
.faqs-tandc_text img {
  transform: rotate(90deg);
  width: 0.625rem;
  height: 0.625rem;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}
.faqs-tandc_text, .faqs-ext_text {
  pointer-events: none;
}
.faqs-tandc_cont {
  border-bottom: 0.0625rem solid #4d4d4d;
  padding: 1.25rem 0;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  color: #b2b2b2;
}
.faqs-ext_text {
  display: none;
  margin-top: 0.625rem;
}
.faqs-ext_text p {
  color: #b2b2b2;
  font-size: 1.25rem; /* Equivalent to 20px assuming 16px base */
  transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
  font-family: "gotham";
  font-weight: 600;
  line-height: 1.4;
}
.faqs-ext_text .faqs-faqPara a {
  color: #4E92EC;
  pointer-events: visible !important;
  text-underline-offset: 0.2em;
  font-family: "gotham";
  font-weight: 600;
  line-height: 1.4;
  text-decoration: underline solid #4E92EC;
}
@media screen and (max-width: 768px) {
  .faqs-tandc_text {
    grid-template-columns: auto auto;
  }
}
