.weekendtrail-section {
  padding: 0 10%;
  height: 98dvh;
  aspect-ratio: 16/9;
  min-height: 600px;
  max-height: 1080px;
  width: 100%;
  overflow: hidden;
}
.weekendtrail-section .weekendtrail-text {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.weekendtrail-section .weekendtrail-text .weekendtrail-text-div sup {
  font-family: "gothambold";
  font-weight: 600;
}
.weekendtrail-section .weekendtrail-text .weekendtrail-text-div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}
.weekendtrail-section .weekendtrail-text .weekendtrail-text-div:first-child {
  transform: translate(30px, -5%) rotate(-10deg);
}
.weekendtrail-section .weekendtrail-text .weekendtrail-text-div:last-child {
  transform: translate(-28px, -2%) rotate(-10deg);
  align-items: flex-end;
}
.weekendtrail-section .weekendtrail-text > div:first-child > :first-child {
  color: #fff;
}
.weekendtrail-section .weekendtrail-text .weekendtrail-text-div > h2 {
  font-family: "maskk";
  font-size: 20vw;
  line-height: 0.7;
  font-style: italic;
}
.weekendtrail-section .weekendtrail-text .weekendtrail-text-div > div:last-child {
  font-family: "gothambold";
  font-size: 2rem; /* Equivalent to 32px assuming 16px base */
  font-weight: 600;
  font-style: italic;
  color: #fff;
}
.weekendtrail-section .weekendtrail-register-btn {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0px);
  background-color: #fff;
  all: unset;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  border: 1px solid #b5afaf;
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.3s;
  min-height: 20px;
}
.weekendtrail-section .weekendtrail-register-btn p {
  color: #000;
  all: unset;
  font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  font-family: "gotham";
  line-height: 1.4;
}
.weekendtrail-section .weekendtrail-register-btn img {
  filter: invert(1);
  height: 20px !important;
  width: 20px !important;
  object-fit: none;
}
.weekendtrail-section .weekendtrail-register-btn:hover {
  filter: drop-shadow(2px 2px 3px black);
}
.weekendtrail-section .weekendtrail-img-3 {
  object-fit: cover;
  top: -34px;
  position: absolute;
  left: -90px;
  height: calc(100% + 180px);
  width: calc(100% + 180px);
  pointer-events: none;
  object-position: center bottom;
}
.weekendtrail-section .weekendtrail-after-layer-bottom img {
  height: 50px;
  bottom: -25px;
  width: 110%;
  left: -5%;
  position: absolute;
}

.weekendtrail-img {
  position: absolute;
  top: -90px;
  left: -90px;
  height: calc(100% + 180px);
  width: calc(100% + 180px);
  pointer-events: none;
  object-fit: cover;
  object-position: top;
}

.weekendtrail-img-1 {
  width: calc(100% + 150px);
  left: -75px;
}

.weekendtrail-for-desk-leo {
  display: block !important;
}

.weekendtrail-for-mob-leo {
  display: none;
}

@media screen and (max-width: 1400px) {
  .weekendtrail-section {
    padding: 0 5%;
    height: 100dvh !important;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .weekendtrail-section .weekendtrail-img-3 {
    object-fit: cover;
    object-position: right;
    width: 140%;
    transform: translate(0%, 0);
  }
}
@media screen and (max-width: 768px) {
  .weekendtrail-for-mob-leo {
    display: block !important;
    object-fit: cover !important;
    object-position: bottom !important;
    width: 100% !important;
    left: 0% !important;
    top: 0% !important;
    height: 100%;
  }
  .weekendtrail-for-desk-leo {
    display: none !important;
  }
  .weekendtrail-section .weekendtrail-text .weekendtrail-text-div:first-child {
    transform: translate(30px, -25%) rotate(-18deg);
  }
  .weekendtrail-section .weekendtrail-text .weekendtrail-text-div:last-child {
    transform: translate(-34px, -14%) rotate(-18deg);
  }
  .weekendtrail-section .weekendtrail-text .weekendtrail-text-div > h2 {
    font-size: 23vw;
    line-height: 0.8;
  }
  .weekendtrail-section .weekendtrail-text .weekendtrail-text-div > div:last-child {
    font-size: 1rem; /* Equivalent to 16px assuming 16px base */
  }
}
@media screen and (max-width: 600px) {
  .weekendtrail-section .weekendtrail-text {
    padding: 0 5%;
    padding-top: 150px;
    gap: 15px;
  }
  .weekendtrail-img-3 {
    object-position: center;
  }
}
